body {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'JetBrains Mono', sans-serif;
}

::selection {
  background-color: #ff0000;
  color: #ffffff;
}

::-moz-selection {
  background-color: #ff0000;
  color: #ffffff;
}